body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
}

.titulo {
    color: white;
}

#tituloCFML {
    border-top: 3px dashed white;
    padding-top: 5px;
}
