body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-105deg, rgb(243, 228, 162), rgba(30, 102, 7, 0.2));
}

.container {
    background-color: rgba(157, 235, 207, 0.612);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.container > img {
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
}

.container > form {
    margin-top: 20px;
}

form > input {
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    background-color: rgb(0, 0, 0);
    transition: ease 1s;
    color: rgba(157, 235, 207, 0.612);
}

form > input:hover {
    border-radius: 0;
    transition: ease 1s;
}